html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 40px;
}



.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
#login{
        background-image: url("../img/cover.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 900px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        /* color: #fff; */
        position: relative;
}
.site-login{
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #fffefe8c;
    padding: 30px 50px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/******************* INDEX STRANICA I LAYOUT ZA SVE STRANICE  **********************/
/* PODACI O SKOLI */
.school-info{
    padding: 5px 15px;
    color: #00325e;
    font-weight: 400px;
    font-weight: 600;
   
}
.school-info .school-name{
    text-transform: uppercase;
}
.school-info .phone{
    float: right;
}
.school-info .phone span{
    padding-left: 10px;
}
/* NAVIGACIJA */

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.navbar-brand{
    color: #bd0000;
}
.nav > li{
    float: left;
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.navbar-inverse .navbar-nav  > li > form > button.logout:focus {
    outline: none;
}
.navbar{
    background-color: #00325e;
    border: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ddc8c8;
    text-transform: uppercase;
    padding: 15px 10px;
}

.navbar-inverse .navbar-nav  > li > a:hover, .nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #bd0000;
}

  /* HERO */
  .front-hero{
    position: relative;
  background-image: url("../img/front-hero.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.cover-hero{
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top:30%;
  left: 25%;
  padding: 50px 30px;
  background-color: #d9dfe48c;
}
.cover-hero h1{
  color: #00325e;
}

/* MAIN CONTAINER */
  .main{
      margin-top: 50px;
  }
  .main h2{
      text-align: center;
      margin-bottom: 60px;
      color: #00325e;
      text-transform: uppercase;
  }

  #frontend-header, #frontend-footer{
      width: 100%;
  }
  .news{
      margin: 10px;
      padding: 10px;
  }

  .department_name{
    color: #bd0000;
}
/* TABLE */
table{
    text-align: center;
}
table thead{
    background-color: #00325e;
    color: #eceded;
}
table thead th{
    padding: 20px!important;
    text-align: center;
    
}
 
/* SCHEDULE */

.schedule{
    color: #00325e;
   text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.schedule>div, .schedule>div>div{
    padding-left:1px;
    padding-right: 1px;
}
.schedule_days{
    background-color: #00325e;
    padding: 10px 20px;
    text-transform: none;
    margin-bottom: 20px;
    color: #eceded;
}
.schedule_classes{
    color: #bd0000;
    font-weight: 600;
}


/* RESPONSIVE */
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}